<div class="content">
  <h1>INDEX</h1>
  <div class="user">
    <h2>User Name</h2>
    <%= form_for(@user, url:{ action: 't_user' }) do |f| %>
      <%= f.submit 'ツイートをチェック' %>
    <% end %>
  </div>
</div>